# 필요한 라이브러리 불러오기

In [1]:
import re
import time

import unicodedata

from selenium import webdriver
from bs4 import BeautifulSoup

## 드라이브 설정 및 url 설정

In [2]:
driver = webdriver.Chrome('./chromedriver.exe')
url = "https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%98%84%ED%99%A9"

In [3]:
driver.get(url)

# 크롬 드라이버를 이용해서 최근 7일간 신규확진자수 데이터 크롤링

## 날짜 클릭하는 함수 및 확진자 수 불러오는 함수 만들기

In [22]:
def select_day(driver):
    day = driver.find_element_by_css_selector("dd.value")
    day.click()
    time.sleep(3)

In [71]:
def get_content(driver):
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    
    try:
        day = soup.select("dd.date._x_value")[0].text
        content = soup.select("dd.desc_em._total")[0].text
    
    except:
        content = " "
        day = " "
    
    return (day, content)

### 가져온 날짜 및 확진자 수를 담을 리스트 생성

In [72]:
weeks_cnt = []

### 반복문을 통해 가져온 데이터 리스트에 튜플 형식으로 담기

In [73]:
for _ in range(7):
    select_day(driver)
    weeks_cnt.append(get_content(driver))

In [74]:
weeks_cnt

[('8.24', '2,155'),
 ('8.23', '1,508'),
 ('8.22', '1,417'),
 ('8.21', '1,626'),
 ('8.20', '1,879'),
 ('8.19', '2,050'),
 ('8.18', '2,152')]

### 리스트를 데이터프레임으로 바꾸기

In [120]:
newly = pd.DataFrame(weeks_cnt, columns = ['date', 'decide_cnt'])

In [128]:
newly

   date decide_cnt
0  8.24      2,155
1  8.23      1,508
2  8.22      1,417
3  8.21      1,626
4  8.20      1,879
5  8.19      2,050
6  8.18      2,152

In [137]:
newly.to_excel('./newly.xlsx', index=False)

# 판다스 read_html을 이용해서 지역별 확진자 테이블 가져오기

In [75]:
import pandas as pd

In [77]:
table = pd.read_html(url)

In [78]:
table[0]

   지역  누적확진자  신규확진자
0  서울  76245    675
1  경기  68158    586
2  대구  13192    101
3  인천  11305    120
4  부산  10999     86
5  경남   9615    104
6  경북   6802     71
7  충남   6547     76

In [80]:
table[1]

   지역  누적확진자  신규확진자
0  검역   5738     12
1  대전   5413     64
2  강원   5242     46
3  충북   4953     59
4  울산   3997     38
5  광주   3920     23
6  전북   3396     40
7  제주   2494     27

In [81]:
table[2]

   지역  누적확진자  신규확진자
0  전남   2479      8
1  세종    944     16

### 3개로 나눠진 테이블 합쳐주기

In [85]:
regional = pd.concat([table[0], table[1], table[2]])

In [89]:
regional = regional.reset_index().drop('index', axis=1)

### 컬럼명 설정

In [126]:
regional.rename(columns={'지역':'location', '누적확진자':'acc_decide_cnt', '신규확진자':'regional_decide_cnt'}, inplace=True)

In [127]:
regional

   location  acc_decide_cnt  regional_decide_cnt
0        서울           76245                  675
1        경기           68158                  586
2        대구           13192                  101
3        인천           11305                  120
4        부산           10999                   86
5        경남            9615                  104
6        경북            6802                   71
7        충남            6547                   76
8        검역            5738                   12
9        대전            5413                   64
10       강원            5242                   46
11       충북            4953                   59
12       울산            3997                   38
13       광주            3920                   23
14       전북            3396                   40
15       제주            2494                   27
16       전남            2479                    8
17       세종             944                   16

In [138]:
regional.to_excel('./regional.xlsx', index=False)

# pymysql을 이용해서 SQL문으로 데이터 저장하기

### pymysql 라이브러리 불러오기

In [95]:
import pymysql

### 데이터베이스에 연결 하고 커서 가져오기

In [102]:
conn = pymysql.connect(host='localhost', user='root', password = '1234', db = 'first_mini_project', charset = 'utf8')

In [103]:
cur = conn.cursor()

### 데이터베이스(스키마) 만들기

In [98]:
cur.execute("CREATE SCHEMA IF NOT EXISTS first_mini_project")

1

### 테이블 만들기

In [105]:
cur.execute("CREATE TABLE IF NOT EXISTS newly (date char(4), decide_cnt int)")

0

In [109]:
cur.execute("CREATE TABLE IF NOT EXISTS regional (location char(4), acc_decide_cnt int, regional_decide_cnt int)")

0

#### 테이블 컬럼 형식 바꿔주기 ; 아래서 데이터 입력할때 충돌나서 수정해준것.)

In [132]:
cur.execute("ALTER TABLE newly MODIFY decide_cnt MEDIUMTEXT")

0

### 데이터 프레임을 sql로

In [113]:
from sqlalchemy import create_engine

In [116]:
db_connection_str = 'mysql+pymysql://root:1234@localhost/first_mini_project'

In [117]:
engine = create_engine(db_connection_str, echo=False)

In [133]:
newly.to_sql('newly', con=engine, if_exists='append', index=False)

In [134]:
regional.to_sql('regional', con=engine, if_exists='append', index=False)




# 데이터 분석

In [155]:
regional_sum = pd.DataFrame([['전체', regional['acc_decide_cnt'].sum(), regional['regional_decide_cnt'].sum()]], columns=['location', 'acc_decide_cnt', 'regional_decide_cnt'])

In [156]:
regional_sum = pd.concat([regional, regional_sum], ignore_index=True)

In [157]:
regional_sum

   location  acc_decide_cnt  regional_decide_cnt
0        서울           76245                  675
1        경기           68158                  586
2        대구           13192                  101
3        인천           11305                  120
4        부산           10999                   86
5        경남            9615                  104
6        경북            6802                   71
7        충남            6547                   76
8        검역            5738                   12
9        대전            5413                   64
10       강원            5242                   46
11       충북            4953                   59
12       울산            3997                   38
13       광주            3920                   23
14       전북            3396                   40
15       제주            2494                   27
16       전남            2479                    8
17       세종             944                   16
18       전체          241439                 2152

### 전체 누적 확진자의 지역별 비중

In [162]:
regional_sum['acc_percentage'] = (regional_sum['acc_decide_cnt']/regional_sum['acc_decide_cnt'].iloc[-1])*100

In [163]:
regional_sum

   location  acc_decide_cnt  regional_decide_cnt  acc_percentage
0        서울           76245                  675       31.579405
1        경기           68158                  586       28.229905
2        대구           13192                  101        5.463906
3        인천           11305                  120        4.682342
4        부산           10999                   86        4.555602
5        경남            9615                  104        3.982372
6        경북            6802                   71        2.817275
7        충남            6547                   76        2.711658
8        검역            5738                   12        2.376584
9        대전            5413                   64        2.241974
10       강원            5242                   46        2.171149
11       충북            4953                   59        2.051450
12       울산            3997                   38        1.655491
13       광주            3920                   23        1.623599
14       전북            3396                   40        1.406566
15       제주            2494                   27        1.032973
16       전남            2479                    8        1.026760
17       세종             944                   16        0.390989
18       전체          241439                 2152      100.000000

### 신규 확진자의 지역별 비중

In [164]:
regional_sum['daily_percentage'] = (regional_sum['regional_decide_cnt']/regional_sum['regional_decide_cnt'].iloc[-1])*100

In [165]:
regional_sum

,location,acc_decide_cnt,regional_decide_cnt,acc_percentage,daily_percentage
0,서울,76245,675,31.579405,31.366171
1,경기,68158,586,28.229905,27.230483
2,대구,13192,101,5.463906,4.693309
3,인천,11305,120,4.682342,5.576208
4,부산,10999,86,4.555602,3.996283
5,경남,9615,104,3.982372,4.832714
6,경북,6802,71,2.817275,3.299257
7,충남,6547,76,2.711658,3.531599
8,검역,5738,12,2.376584,0.557621
9,대전,5413,64,2.241974,2.973978
10,강원,5242,46,2.171149,2.137546
11,충북,4953,59,2.051450,2.741636
12,울산,3997,38,1.655491,1.765799
13,광주,3920,23,1.623599,1.068773
14,전북,3396,40,1.406566,1.858736
15,제주,2494,27,1.032973,1.254647
16,전남,2479,8,1.026760,0.371747
17,세종,944,16,0.390989,0.743494
18,전체,241439,2152,100.000000,100.000000

### 확진자 지역별 비중 증감률

In [168]:
regional_sum['up/down'] = (regional_sum['daily_percentage'] - regional_sum['acc_percentage'])

In [172]:
regional_sum['rate_of_change'] =  (regional_sum['daily_percentage'] / regional_sum['acc_percentage']) * 100 -100

In [173]:
regional_sum

,location,acc_decide_cnt,regional_decide_cnt,acc_percentage,daily_percentage,up/down,rate_of_change
0,서울,76245,675,31.579405,31.366171,-0.213234,-0.675232
1,경기,68158,586,28.229905,27.230483,-0.999422,-3.540294
2,대구,13192,101,5.463906,4.693309,-0.770597,-14.103417
3,인천,11305,120,4.682342,5.576208,0.893866,19.090148
4,부산,10999,86,4.555602,3.996283,-0.559320,-12.277620
5,경남,9615,104,3.982372,4.832714,0.850341,21.352634
6,경북,6802,71,2.817275,3.299257,0.481982,17.108085
7,충남,6547,76,2.711658,3.531599,0.819940,30.237607
8,검역,5738,12,2.376584,0.557621,-1.818963,-76.536875
9,대전,5413,64,2.241974,2.973978,0.732004,32.649954
10,강원,5242,46,2.171149,2.137546,-0.033602,-1.547676
11,충북,4953,59,2.051450,2.741636,0.690186,33.643808
12,울산,3997,38,1.655491,1.765799,0.110309,6.663199
13,광주,3920,23,1.623599,1.068773,-0.554825,-34.172566
14,전북,3396,40,1.406566,1.858736,0.452170,32.147048
15,제주,2494,27,1.032973,1.254647,0.221674,21.459775
16,전남,2479,8,1.026760,0.371747,-0.655013,-63.794161
17,세종,944,16,0.390989,0.743494,0.352505,90.157362
18,전체,241439,2152,100.000000,100.000000,0.000000,0.000000