# 필요한 라이브러리 불러오기

In [1]:
import re
import time

import unicodedata

from selenium import webdriver
from bs4 import BeautifulSoup

## 드라이브 설정 및 url 설정

In [2]:
driver = webdriver.Chrome('./chromedriver.exe')
url = "https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EC%BD%94%EB%A1%9C%EB%82%98+%ED%98%84%ED%99%A9"

In [3]:
driver.get(url)

# 크롬 드라이버를 이용해서 최근 7일간 신규확진자수 데이터 크롤링

## 날짜 클릭하는 함수 및 확진자 수 불러오는 함수 만들기

In [22]:
def select_day(driver):
    day = driver.find_element_by_css_selector("dd.value")
    day.click()
    time.sleep(3)

In [71]:
def get_content(driver):
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    
    try:
        day = soup.select("dd.date._x_value")[0].text
        content = soup.select("dd.desc_em._total")[0].text
    
    except:
        content = " "
        day = " "
    
    return (day, content)

### 가져온 날짜 및 확진자 수를 담을 리스트 생성

In [72]:
weeks_cnt = []

### 반복문을 통해 가져온 데이터 리스트에 튜플 형식으로 담기

In [73]:
for _ in range(7):
    select_day(driver)
    weeks_cnt.append(get_content(driver))

In [74]:
weeks_cnt

[('8.24', '2,155'),
 ('8.23', '1,508'),
 ('8.22', '1,417'),
 ('8.21', '1,626'),
 ('8.20', '1,879'),
 ('8.19', '2,050'),
 ('8.18', '2,152')]

### 리스트를 데이터프레임으로 바꾸기

In [120]:
newly = pd.DataFrame(weeks_cnt, columns = ['date', 'decide_cnt'])

In [128]:
newly

   date decide_cnt
0  8.24      2,155
1  8.23      1,508
2  8.22      1,417
3  8.21      1,626
4  8.20      1,879
5  8.19      2,050
6  8.18      2,152

In [137]:
newly.to_excel('./newly.xlsx', index=False)

# 판다스 read_html을 이용해서 지역별 확진자 테이블 가져오기

In [75]:
import pandas as pd

In [77]:
table = pd.read_html(url)

In [78]:
table[0]

   지역  누적확진자  신규확진자
0  서울  76245    675
1  경기  68158    586
2  대구  13192    101
3  인천  11305    120
4  부산  10999     86
5  경남   9615    104
6  경북   6802     71
7  충남   6547     76

In [80]:
table[1]

   지역  누적확진자  신규확진자
0  검역   5738     12
1  대전   5413     64
2  강원   5242     46
3  충북   4953     59
4  울산   3997     38
5  광주   3920     23
6  전북   3396     40
7  제주   2494     27

In [81]:
table[2]

   지역  누적확진자  신규확진자
0  전남   2479      8
1  세종    944     16

### 3개로 나눠진 테이블 합쳐주기

In [85]:
regional = pd.concat([table[0], table[1], table[2]])

In [89]:
regional = regional.reset_index().drop('index', axis=1)

### 컬럼명 설정

In [126]:
regional.rename(columns={'지역':'location', '누적확진자':'acc_decide_cnt', '신규확진자':'regional_decide_cnt'}, inplace=True)

In [127]:
regional

   location  acc_decide_cnt  regional_decide_cnt
0        서울           76245                  675
1        경기           68158                  586
2        대구           13192                  101
3        인천           11305                  120
4        부산           10999                   86
5        경남            9615                  104
6        경북            6802                   71
7        충남            6547                   76
8        검역            5738                   12
9        대전            5413                   64
10       강원            5242                   46
11       충북            4953                   59
12       울산            3997                   38
13       광주            3920                   23
14       전북            3396                   40
15       제주            2494                   27
16       전남            2479                    8
17       세종             944                   16

In [138]:
regional.to_excel('./regional.xlsx', index=False)

# pymysql을 이용해서 SQL문으로 데이터 저장하기

### pymysql 라이브러리 불러오기

In [95]:
import pymysql

### 데이터베이스에 연결 하고 커서 가져오기

In [102]:
conn = pymysql.connect(host='localhost', user='root', password = '1234', db = 'first_mini_project', charset = 'utf8')

In [103]:
cur = conn.cursor()

### 데이터베이스(스키마) 만들기

In [98]:
cur.execute("CREATE SCHEMA IF NOT EXISTS first_mini_project")

1

### 테이블 만들기

In [105]:
cur.execute("CREATE TABLE IF NOT EXISTS newly (date char(4), decide_cnt int)")

0

In [109]:
cur.execute("CREATE TABLE IF NOT EXISTS regional (location char(4), acc_decide_cnt int, regional_decide_cnt int)")

0

#### 테이블 컬럼 형식 바꿔주기 ; 아래서 데이터 입력할때 충돌나서 수정해준것.)

In [132]:
cur.execute("ALTER TABLE newly MODIFY decide_cnt MEDIUMTEXT")

0

### 데이터 프레임을 sql로

In [113]:
from sqlalchemy import create_engine

In [116]:
db_connection_str = 'mysql+pymysql://root:1234@localhost/first_mini_project'

In [117]:
engine = create_engine(db_connection_str, echo=False)

In [133]:
newly.to_sql('newly', con=engine, if_exists='append', index=False)

In [134]:
regional.to_sql('regional', con=engine, if_exists='append', index=False)